/*Estilo especial para los botones tipo file by abisoft */
/*https://github.com/amnersaucedososa*/

.btn-file {
  position: relative;
  overflow: hidden;
  }
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
    display: block;
}
.btn-my-button{
    margin-top: 5px;
    background: #5bc0de;
    color: #fff;
    width: 100%;
}
.btn-my-button:hover{
    color: #fff;
}
